.custom-shape-divider-top-1622124549 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #eee;
}

.custom-shape-divider-top-1622124549 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 174px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1622124549 .shape-fill {
  fill: #ffffff;
}
